/*map style*/
.map-container {
  position: relative;
  height: 85vh;
  /* background-image: url("ksa-map.png"); */
  background-size: 95%;
  background-position: center;
  background-repeat: no-repeat;
}

.city {

  position: absolute;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.city:hover {
  transform: scale(1.2);
  z-index: 999;
}

.city img {
  position: absolute;
  float: left;
  filter: grayscale(100%);
}

.city img:hover {
  filter: grayscale(0);
  transition: transform 0.3s ease;
}

#central {
  top: 153px;
  left: 582px;
}

#central img {
  height: 400px
}

#western {
  top: 223px;
  left: 458px;
}

#western img {
  height: 358px
}

#eastern {
  top: 135px;
  left: 854px;
}

#eastern img {
  height: 444px
}

#northern {
  top: 22px;
  left: 488px;
}

#northern img {
  height: 346px
}

#southern {
  top: 460px;
  left: 728px;
}

#southern img {
  height: 200px
}


/*hero_text*/
.hero_text {
  float: right;
  top: 0;
  font-size: 4em;
  color: #C17250;
  translate: -25% 20%;
}

.h_text2 {
  translate: -40% -30%;
}



/* النص داخل المناطق */
.city_text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vw;
  transform: translate(-50%, -50%);
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2em;
  display: none;
  /* سيتم إظهاره عند التفاعل */
}

.city:hover .city_text {
  display: block;

}

.button-city {
  display: flex;
  justify-content: end;
  width: 100%;


}

.button-city button {
  background-color: #C17250;
  color: rgb(255, 255, 255);
  border-radius: 2vh;
  border: none;
  font-size: 1rem;
  width: 30%;

}

/* #character {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 15%;
  animation: walk 4s linear infinite;
  mix-blend-mode: multiply;
} */
#character {
  position: absolute;
  bottom: 0;
  /* left: 0; */
  /* width: 15%; */
  animation: walk 4s linear infinite;
  z-index: 999;
}

.city_clicked {
  position: absolute;
  transition: transform 0.3s ease;
  cursor: pointer;

  transform: scale(1.2);

  z-index: 999;
}

.city_clicked img {
  position: absolute;
  float: left;
  filter: grayscale(0);
}

.city_clicked_text {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vw;
  color: black;
  /* background-color: rgba(0, 0, 0, 0.5); */
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2em;
  display: block;
  cursor: auto;
  /* سيتم إظهاره عند التفاعل */

  /* background: rgba(255, 255, 255, 0.09); */
  background: white;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(5px); */
  /* -webkit-backdrop-filter: blur(5px); */
  border: 1px solid rgba(255, 255, 255, 1);


  z-index: 999;
}

@keyframes walk {
  0% {
    left: 0;
  }

  100% {
    left: 100%;
  }
}

/* #chatbox {
  display: none;
  position: fixed;
  bottom: 25%;
  right: 40%;
  width: 52%;
  height: 20%;
  z-index: 9999;
  font-size: 3rem;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.5);
}

#chatbox input {
  font-size: 2rem;

}

#chatbox button {
  font-size: 2rem;

} */

.activity-box {

  display: none;
  position: fixed;
  top: 48%;
  left: 75%;
  transform: translate(-50%, -50%);
  width: 47%;
  background-color: rgb(255, 255, 255, 0.6);
  z-index: 10;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;



}



.img-contant img {
  width: 22vw;
  height: 25vh;
  object-fit: cover;


}

.img-contant:hover {
  transform: scale(1.05);
}

.img-contant h3 {
  background-color: rgb(0, 0, 0, 0.7);
  font-weight: bolder;
  position: relative;
  height: 12vh;
  bottom: 13vh;
  font-size: 2rem;
  color: aliceblue;

}

.img-contant p {
  position: relative;
  bottom: 20vh;
  font-size: 0, 5rem;
  color: rgb(255, 255, 255, 0.7);
}

.img-contant a {
  position: relative;
  bottom: 19vh;
  color: #C17250;
  font-weight: bolder;
}

.img-contant {
  border: 2px solid #C17250;
  text-align: center;
  height: 25vh;
  margin: 1vh;

}

.img-contant i {
  font-size: 1.5rem;
}

.closeBox {
  background-color: #C17250;
  font-size: 1rem;
  width: 15%;
  border-radius: 2vh;
  border: none;
  color: aliceblue;
}

.img-activity {
  display: flex;
  flex-wrap: wrap;
}

.popup-container {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background: rgba(0, 0, 0, .3); */
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  top: 0;

  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.popup-container.active {
  opacity: 1;
  pointer-events: auto;
  transition: .4s ease;
}

.popup-container .popup-box {
  width: 500px;
  background: #f2f2f2;
  border-radius: 6px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, .1); */
  padding: 30px;
  transform: scale(0);
}

.popup-container.active .popup-box {
  transform: scale(1);
  transition: .4s ease;
  transition-delay: .25s;
}

.popup-box h1 {
  color: #333;
  line-height: 1;
}

.popup-box p {
  color: #333;
  margin: 12px 0 20px;
}

.popup_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup-box .close-btn {
  /* width: 100%; */
  height: 45px;
  background: #C17250;
  border-radius: 6px;
  border: none;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 18px;
  color: #f2f2f2;
  font-weight: 500;

  display: flex;
  align-items: center;
  justify-content: center;
}

#chatbox {
  display: none;
  font-size: 2em;
}

#chatbox input {
  font-size: 1em;
  padding-right: .5rem;
  border: none;
  border-radius: 10px;

}

#chatbox input:focus {
  color: #C17250;
  outline: 1px solid #C17250;
}

#chatbox input::placeholder {
  color: #C17250;
}

#chatbox button {
  font-size: .8em;
  background: #C17250;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  padding: .5rem 1rem;
}

/*weather*/
.map_box_title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: bold;
}

.map_box_title p {
  font-weight: 400;
}

.weater_content {
  display: flex;
  align-items: center;
  /* gap: .5rem; */
}

.weater_img img {
  filter: grayscale(0);

  position: relative;
}


/* Extra small devices */
@media only screen and (max-width: 600px) {

  /* إعدادات لأقصى عرض 600 بكسل */


  /* تعديل النص */
  .hero_text {
    font-size: 2em;
    translate: 0;
    text-align: center;
    float: none;
    margin-top: 4rem;
    position: absolute;


  }

  .h_text2 {
    translate: 0 -30%;

  }

  /* خريطة المناطق */
  #central img {
    height: 185px;
  }

  #western img {
    height: 163px;
  }

  #eastern img {
    height: 200px;
  }

  #northern img {
    height: 160px;
  }

  #southern img {
    height: 88px;
  }

  /* تموضع المناطق */
  #central {
    top: 261px;
    left: 205px;
  }

  #western {
    top: 292px;
    left: 146px;
  }

  #eastern {
    top: 257px;
    left: 327px;
  }

  #northern {
    top: 200px;
    left: 162px;
  }

  #southern {
    top: 401px;
    left: 264px;
  }

  .conten {
    min-height: 100%;
  }

  .activity-box {
    width: 110%;
    position: relative;
    left: 60%;
    top: 180%;
  }

  .img-contant {
    height: 27vh;
    margin: 1vh;

  }

  .city_text p {
    font-size: 0.5rem;
  }

  .img-contant img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .img-contant h3 {
    font-size: 1.2rem;
  }

  .activity-box h1 {
    font-size: 1rem;
  }

  .closeBox {
    font-size: 1.rem;
    width: 50%;
    margin: 1vh;
  }

  .img-contant:hover {
    transform: scale(1.1);
  }

  .city_text {
    width: 20vw;
    transform: translate(-90%, -50%);
    border-radius: 2vh;
    font-size: 0.8rem;
    font-weight: bolder;
  }

  .city:hover .city_text {
    display: block;

  }

  #character {
    animation: walk 1s linear infinite;
  }

  .popup-container .popup-box {
    width: 300px;
  }

  #chatbox input {
    font-size: .85em;
    margin-bottom: 1rem;
  }

  .button-city {
    flex-direction: column;
  }

  .city_clicked_text,
  .city_text {
    font-size: 1em;
    width: 50vw;
  }

  .button-city button {
    font-size: 0.5rem;
    width: 100%;

  }
  #character {
    position: absolute;
    bottom: 5vh;
    /* left: 0; */
    /* width: 15%; */
    animation: walk 4s linear infinite;
    z-index: 999;
  }
}


/* Medium devices */
@media only screen and (max-width: 992px) and (min-width: 601px) {
  .hero_text {
    font-size: 2em;
    translate: -30% 20%;

  }

  .hero_text {
    position: absolute;
  }

  .h_text2 {
    translate: -20% -30%;


  }

  #central img {
    height: 280px
  }

  #western img {
    height: 251px
  }

  #eastern img {
    height: 307px
  }

  #northern img {
    height: 239px
  }

  #southern img {
    height: 135px
  }

  #central {
    top: 178px;
    left: 363px;
  }

  #western {
    top: 226px;
    left: 279px;
  }

  #eastern {
    top: 168px;
    left: 551px;
  }

  #northern {
    top: 89px;
    left: 298px;
  }

  #southern {
    top: 396px;
    left: 459px;
  }

  .conten {
    min-height: 100%;
  }

  .activity-box {
    width: 78%;
    position: relative;
    left: 28%;
    top: 150%;
  }

  .img-contant {
    height: 27vh;
    margin: 1vh;

  }

  .city_text p {
    font-size: 1.4rem;
  }

  .img-contant img {
    width: 65vw;
    height: 105%;
    object-fit: cover;

  }

  .img-contant h3 {
    font-size: 2.3rem;
  }

  .activity-box h1 {
    font-size: 2.1rem;
  }

  .closeBox {
    font-size: 2rem;
    width: 50%;
    margin: 1vh;
  }

  .img-contant:hover {
    transform: scale(1.3);
  }

  .city_text {
    width: 35vw;
    transform: translate(-80%, -50%);
    border-radius: 2vh;
    font-size: 1.1rem;
  }

  #character {
    animation: walk 2s linear infinite;
  }


  .button-city button {
    font-size: 1rem;
    width: 105%;

  }
  #character {
    position: absolute;
    bottom: 30vh;
    /* left: 0; */
    /* width: 15%; */
    animation: walk 4s linear infinite;
    z-index: 999;
  }

}

/* Extra large devices */
@media only screen and (max-width: 1200px) and (min-width: 993px) {
  .hero_text {
    font-size: 2.5em;
    translate: -30% 20%;
  }

  .h_text2 {
    translate: -20% -30%;
  }

  .hero_text {
    position: absolute;
  }


  #central {
    top: 165px;
    left: 458px;
  }

  #western {
    top: 233px;
    left: 334px;
  }

  #eastern {
    top: 153px;
    left: 732px;
  }

  #northern {
    top: 35px;
    left: 365px;
  }

  #southern {
    top: 472px;
    left: 604px;
  }

  .conten {
    min-height: 100%;
  }

  .activity-box {
    width: 78%;
    position: relative;
    left: 28%;
    top: 150%;
  }

  .img-contant {
    height: 27vh;
    margin: 1vh;

  }

  .city_text p {
    font-size: 1.5rem;
  }

  .img-contant img {
    width: 70vw;
    height: 105%;
    object-fit: cover;

  }

  .img-contant h3 {
    font-size: 2.4rem;
  }

  .activity-box h1 {
    font-size: 2.2rem;
  }

  .closeBox {
    font-size: 2.2rem;
    width: 50%;
    margin: 1vh;
  }

  .img-contant:hover {
    transform: scale(1.3);
  }

  .city_text {
    width: 35vw;
    transform: translate(-80%, -50%);
    border-radius: 2vh;
    font-size: 1.1rem;
  }

  .button-city button {
    font-size: 1rem;
    width: 107%;

  }

  #character {
    position: absolute;
    bottom: 33vh;
    /* left: 0; */
    /* width: 15%; */
    animation: walk 4s linear infinite;
    z-index: 999;
  }


}